.header {
    background-color: #004cc3;
}

.main {
    padding: 16px 0;
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.menu {
    display: flex;
    margin: 0;
    padding: 16px 0;
}

.menuItem {
    display: block;
    margin-right: 24px;
    font-size: 20px;
}

.menuItem a {
    text-decoration: none;
    color: #fff;
}

.menuItem a:hover {
    color: #a9d1ff;
}
